<footer class="footer">
    <div class="container">
        <div class="flexboxfooter">
            <div class="slogan">
                <p>La Masia Freixa, ¡Joia modernista de Terrassa!</p>
            </div>
            <ul>
            <ul class="icons">
                <li>Sigueme en</li>
                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
            </ul>
        </div>
        <hr>
        <div class="flexboxfooter">
            <div class="student">
                <p>2023 © Pol Tosca Ropero</p>
            </div>
            <div class="aboutfooter">
                <ul>
                    <li><a href="#">Terminos y condiciones</a></li>
                    <li><a href="#">Política de privacidad</a></li>
                    <li><a href="#">Cookies</a></li>
                </ul>
            </div>
        </div>
    </div>   
</footer>