<header class="header">
    <div class="container">
        <div class="flexboxheader">
            <div class="logo">
                <a href="index.html">Masia Freixa</a>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#que-es">Qué es?</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#formulario">Newsletter</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>